:root {
    --blue: #001bb6;
    --orange: #FF6401;
    --white: #ffffff;
    --grey: rgba(100, 100, 100, 0.25);
    --black: #212121;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}

body {
    background: var(--black);
    font-size: 22px;
    line-height: 32px;
    color: var(--white);
    word-wrap: break-word !important;
}

.header {
    display: inline-block;
    text-align: center;
    font-size: 120%;
    margin: 1%;
    width: 98%;
    height: 100px;
    background-color: var(--grey);
}

nav {
    margin: 1%;
    margin-top: -1%;
    background-color: var(--blue);
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    border-bottom-color: var(--orange);
    border-width: 3px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: var(--blue);
}

nav a {
    display: block;
    padding: 0 10px;
    color: var(--white);
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--orange);
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    border-top: solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top-color: var(--orange);
    border-width: 3px;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    border-bottom-color: var(--orange);
    border-width: 3px;
}

.sticky {
    top: 0;
    position: fixed;
}

.footer {
    display: inline-block;
    text-align: center;
    margin-left: 1%;
    bottom: 0px;
    width: 98%;
    height: 100px;
    background-color: var(--grey);
    font-size: 80%;
}