body{
  margin: 0;
  background-color: orange;
  height: 2000px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: rgb(70, 70, 70);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: lightgrey;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #006be6;
  color: lightgrey;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: lightgrey;
}

div.content {
  margin-left: 11%;
  padding: 1px 16px;
  background: rgb(70, 70, 70);
  width: 86.8%;
  height: 2000px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

h3,h1,p,a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: lightgrey;
}

div.header {
  height: 300px;
  width: 97.5%;
  display: block;
  color: lightgrey;
  padding: 16px;
  text-align: center;
  margin-top: -1px;
}

.collapsible {
  background: rgb(80, 80, 80);
  color: lightgrey;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  z-index: 2;
}

.active, .collapsible:hover {
  background-color: rgb(90, 90, 90);
}

.contentcollapsible {
  padding: 0 1px;
  display: none;
  overflow: hidden;
  background-color: rgb(70, 70, 70);
}

.buttonFoto {
  z-index: 0;
  position: relative;
  width: 100px;
  top: 0;
  float: left;
}